In [1]:
#import libraries
import pandas as pd
import numpy as np
import streamlit as st

In [2]:
#read in data
df = pd.read_csv('./data/cars.csv',index_col=0)

In [3]:
df.head()

,Foreign/Local Used,color,wheel drive,Automation,seat-make,price,description,make-year,manufacturer
0,Foreign Used,Black,4,Automatic,Leather,17500000,2014 Lexus LX,2014,Lexus
1,Foreign Used,Black,4,Automatic,Leather,13000000,2012 Toyota Sequoia,2012,Toyota
2,Foreign Used,Blue,4,Automatic,Cloth,6500000,2007 Toyota FJ CRUISER,2007,Toyota
3,Foreign Used,Black,4,Automatic,Leather,4700000,2005 Lexus GX,2005,Lexus
4,Foreign Used,Grey,4,Automatic,Leather,3800000,2005 Toyota 4-Runner,2008,Toyota

In [4]:
df['Foreign/Local Used'].unique()

array(['Foreign Used', 'Locally Used'], dtype=object)