In [1]:
#import libraries
import pandas as pd
import numpy as np
import streamlit as st

In [2]:
#read in data
df = pd.read_csv('./data/cars.csv',index_col=0)

In [3]:
df.head()

,Foreign/Local Used,color,wheel drive,Automation,seat-make,price,description,make-year,manufacturer
0,Foreign Used,Black,4,Automatic,Leather,17500000,2014 Lexus LX,2014,Lexus
1,Foreign Used,Black,4,Automatic,Leather,13000000,2012 Toyota Sequoia,2012,Toyota
2,Foreign Used,Blue,4,Automatic,Cloth,6500000,2007 Toyota FJ CRUISER,2007,Toyota
3,Foreign Used,Black,4,Automatic,Leather,4700000,2005 Lexus GX,2005,Lexus
4,Foreign Used,Grey,4,Automatic,Leather,3800000,2005 Toyota 4-Runner,2008,Toyota

In [33]:
df['wheel drive'].nunique()

1

In [4]:
df['Foreign/Local Used'].unique()

array(['Foreign Used', 'Locally Used'], dtype=object)

In [6]:
df.shape[0]

1190

In [25]:
df.groupby(by=["manufacturer"])[["price"]].sum().sort_values(by="price")

                    price
manufacturer
Opel              1100000
LR3               1850000
Mitsubishi        3960000
Mazda             4800000
Jeep              6250000
Infinity          6500000
Chrysler          7820000
Chevrolet         8000000
Peugeot           8455000
BMW               9480000
Pontiac          13500000
LR4              20000000
Volkswagen       20500000
Kia              23710000
Infiniti         38350000
Hyundai          42050000
Nissan           49830000
Lamborghini      88000000
Ford            118190000
Acura           138400000
Range           343050000
Honda           362870000
Lexus          1038260000
Mercedes-Benz  1515075000
Toyota         2614975000

In [ ]:
#plot pie chart to show manufacturers distribution
manufacturers_dist = df.groupby(by=["manufacturer"])[['price']].agg('count').sort_values(by='manufacturer')

fig_manufacturer_dist = px.pie(
    manufacturers_dist,
    values="price",
    names=manufacturers_dist.index,
    hole=0.4
)

fig_manufacturer_dist.update_layout(
    plot_bgcolor="rgba(0,0,0,0)",
    xaxis=(dict(showgrid=False))
)